<%- include ('partials/header.ejs'); %>
<body>
  <%- include ('partials/navbar.ejs'); %>

  <div class="container mt-4">
    <div class="card mt-4 shadow">
      <div class="card-body">
        <h5><%= ask.title %></h5>
        <br />
        <p><%= ask.description %></p>
      </div>
      <div class="card-footer">
        <form>
          <h6>Responda:</h6>
          <textarea
            placeholder="Digite sua resposta"
            class="form-control"
            name="body"
          ></textarea>
          <button class="btn btn-success mt-4">Responder</button>
          <a href="/" class="btn btn-outline-dark mt-4">Voltar</a>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ('partials/footer.ejs'); %>
